/* Colors:
Main Color: #0073a4c2

Secondary Color: #35d2da
*/

footer {
    text-align: center;
    padding: 80px 30px 50px 30px;
    font-size: 1.25em;
    color: #0073a4c2;
}
footer hr {
    border: 1px solid #385E72;
    opacity: .7;
}