/* Colors:
Main Color: #0073a4c2

Secondary Color: #35d2da
*/

/* Colors:
Blue Gray
#D9E4EC

Misty Blue
#B7CFDC

Blue Grotto
#6AABD2

Misty Blue 
#385E72
*/



.home-content {
    margin: 2rem;
}

.hero-text {
    /* background-color: red; */
    margin: 20px;
    padding-top: 40px;
    font-size: 3rem;
}
.post {
    background-color: #0073a479;
    box-shadow: 2px 2px 5px #385E72;
    border-radius: 10px;
    transition: 0.1s;
}
.post:hover {
    transform: scale(1.015);
    transition: 0.1s;
}

.home-container {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 1fr;
    padding-top: 50px;
}