/* Colors:
Main Color: #0073a4c2

Secondary Color: #35d2da
*/

.nav-bar {
    background-color: #0073a479;
    display: flex;
    align-items: center;
    font-size: 1.75rem;
}
.nav-links {
    width: 35%;
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    font-size: 30px;
}
.nav-links a {
    color: white;
    padding: 40px;
    transition: .25s;
}
.nav-links a:hover {
    background-color: #35d2da;
    transform: scale(1.05);
    transition: .25s;
}
.nav-bar img {
    padding: 10px 20px;
}
.web-logo {
    width: 150px;
    height: 150px;
}