/* Colors:
Main Color: #0074a4

Secondary Color: #35d2da
*/

@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&family=Roboto:wght@300&display=swap');
#Webpage {
  background-color:#D9E4EC;
  max-width: 1650px;
  margin: 0 auto;
  font-family: Libre Franklin;
}





/* LOGIN FORM */

.login-container{
  padding-top: 100px;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: auto; /* 5% from the top, 15% from the bottom and centered */
  border: 2px solid #0073a4c2;
  width: 80%; /* Could be more or less, depending on screen size */
  max-width: 30em;
  border-radius: 2em;
  padding: 1em;
  transition: 0.2s;
}

.modal-header-text {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 20px;
}

.modal-content .container {
  margin-left: 1em;
  font-size: 1.2em;
  margin: 0 auto;
  width: fit-content;
}
.modal-content .container label, .modal-content .container input {
  display: block;
}
.modal-content .container label input, .modal-content .container input input {
  display: inline;
}
.modal-content .container label {
  margin-top: 0.7em;
}
.modal-content .container input {
  border: 1px solid #0073a4c2;
  font-size: 0.9em;
  font-weight: lighter;
}
.modal-content .container button {
  border: none;
  background-color: #0073a4c2;
  color: white;
  transition: 0.25s;
  font-size: 1em;
  margin: 1em auto 0;
  display: block;
  width: 100%;
  transition: 0.15s;
}
.modal-content .container button:hover {
  cursor: pointer;
  color: white;
  
  background-color: #35d2da;
  transition: 0.15s;
  transform: scale(1.02);
  box-shadow: 1px 1px 2.5px grey;
}
.modal-content .container input:not(input[type=checkbox]), .modal-content .container button {
  padding: 0.4em 0.6em;
  border-radius: 0.4em;
  width: 100%;
}
.modal-content .container h2 {
  font-size: 0.8em;
  margin-top: 1em;
}
.modal-content .container a {
  background-color: transparent;
  color: #6AABD2;
  font-size: 0.8em;
  padding: 0;
  margin: 0 auto;
}
.modal-content .container a:hover {
  text-decoration: underline;
}

/* The Close Button (x) */
.close {
  color: #000;
  font-size: 35px;
  font-weight: bold;
  transition: 0.25s;
  width: 40px;
  display: block;
  text-align: center;
  margin: 0 5px auto auto;
}

.close:hover, .close:focus {
  color: #6AABD2;
  cursor: pointer;
}

/* REGISTER FORM */
form:not(#login) fieldset {
  border: 2px solid #6AABD2;
  border-radius: 0.8em;
  width: 90%;
  max-width: 35em;
  padding: 1em;
  margin: 2em auto 1em;
}
form:not(#login) fieldset legend {
  color: #6AABD2;
  text-align: center;
  font-size: 1.5em;
  padding: 0 1em;
}
form:not(#login) fieldset label, form:not(#login) fieldset input {
  display: block;
  font-size: 1.5em;
}
form:not(#login) fieldset label {
  margin: 1em auto 0.3em;
}
form:not(#login) fieldset input {
  border: 1px solid #6AABD2;
  padding: 0.3em;
  width: 97%;
  border-radius: 0.3em;
}
form:not(#login) fieldset button {
  background-color: #6AABD2;
  border: none;
  color: white;
  font-size: 1.5em;
  margin: 1em auto 0;
  display: block;
  padding: 0.3em 0.7em;
  border-radius: 0.4em;
  width: 100%;
  transition: 0.25s;
}