/* Colors:
Main Color: #0073a4c2

Secondary Color: #35d2da
*/


.post{
    display:grid;
    grid-template-columns: 1fr auto 1fr 1fr;
    grid-template-rows: 1fr 1fr 4fr 1fr;
    /* background-color: #EDF6F9; */
    /* color:#E29578; */
    max-width: 65rem;
    padding:4rem;
    /* margin:2rem; */
    margin: 2rem 2rem 2rem 0;
}

.userID{
    grid-row:1/2;
    grid-column: 1/5;
    font-style: bold;
    color:black;
    text-align: left;
    font-size: 1.3em;
    text-decoration: underline black;
}
.heading{
    grid-row:2/3;
    grid-column:1/5;
    font-size: larger;
    font-style: italic;
    text-align: left;
    font-size: 1.6em;
    padding: 0px 0px 30px 0px;
}
.content{
    grid-row: 3/4;
    grid-column:1/5;
    font-size: 1.4em;
    
}

.bottom{
    grid-column: 4/5;
    grid-row: 4/5;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: right;
    align-items: center;
    justify-content: center;
    column-gap: 00.2em;
    font-size: 1.2em;
}
.bottom div{
    padding:0.2em;
}

a {
    text-decoration: none;
    color: black;
    font-size: larger;
    font-weight: 500;
}
button{
    border: none;
    background-color:#B7CFDC;
    padding: 0.1em;
}

.like-count, .share-count{
    color: black;
    font-weight: 500;
}